<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="botToken" value="*secret_token*"/>
		<add key="dateTimeFormat" value="yyyy-MM-ddTHH:mm:ssZ"/>
		<add key="allowedFileExtensions" value="png,gif,mp4"/>
	</appSettings>
	<connectionStrings>
		<add name="dbConnection" connectionString="Data Source=.\Db\CardsBotDb.db;Version=3;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>